/* the robotics font nasalization-rg */
@font-face {
    font-family: robotics-original;
    src: url(fonts/nasalization-rg.otf);
}

/* applying margin and padding 0 and font family to whole website */
* {
    font-family: robotics-original  ;
    margin: 0;
    padding: 0;
}
/* applying wartech background image to the whole website  */
header{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url(/data/landing-page-background.png);
    /* overflow: hidden; */
    background-size: cover;
    
}
/* creating a radial gradient on the header  */
.radial-gradient {
    position: absolute;
    top: 0;
    background: radial-gradient(rgba(64, 75, 82, 0), rgba(100, 106, 109, 0.476), rgba(100, 106, 109, 100%));
    left: 0;
    width: 100%;
    height: 100%;


}

/* navbar starts here  */
nav {
    width: 100%;
    z-index: 3;
    display: grid;
    position: fixed;
    place-items: center;
}

.container {
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.logo img {
    width: 60px;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 20px;
}
/* navbar ends here */



/* wartech title for landing page  */
.wartech {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

.wartech div {

    font-size: 7rem;
    color: white;
    letter-spacing: 40px;
    -webkit-text-fill-color: 
    transparent;
    line-height: .9em;
    -webkit-text-stroke-width: 1px;
    transition: .5s;
}
.wartech div:hover{
    text-shadow: 10px -4px;
}
/* blending the text and translate */


.title-2 {
    translate: 45px;
    mix-blend-mode:soft-light;
}
.title-1{
    color: #d9d9d9;
    mix-blend-mode:difference;
}

.title-center {
    translate: 90px;
    font-weight: 500;
}

/* making the website responsive */

@media screen and (max-width:1018px) {
    
    .wartech div{
        font-size: 5rem;
    }
}
@media screen and (max-width:875px) {
    
    .wartech div{
        font-size: 3rem;
        letter-spacing: 20px;
    }
}
@media screen and (max-width:576px) {
    
    .wartech div{
        font-size: 2rem;
        letter-spacing: 10px;
        /* line-height: 1.3em; */
    }
}


