@font-face {
    font-family: robotics-original;
    src: url(nasalization-rg.otf);
}
*{
    margin: 0;
    padding: 0px;
    font-family: robotics-original;
}
body{
    background-image: url(../background-image-for-whole-website.png) ;
    font-size: 100%;
    background-repeat: no-repeat;

    background-size:cover;
    overflow-x: hidden  ;
}
/* navbar starts here  */
nav {
    width: 100%;
    z-index: 3;
    display: grid;
    position: fixed;
    place-items: center;
}

.container {
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.logo img {
    width: 60px;
}

.links a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

/* navbar ends here */

.days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: auto;
    height: 400px;
    color: white;
    font-size: 3vw;
}
.day{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 6vw;
    border: solid black 2px  ;
    border-radius: 40px;
    background-color: #545454;
    /* stroke:4px 4px black; */
}
.stoke{
    width: 18vw;
    height: 6vw;
    position: absolute;
    border: solid black 2px  ;
    border-radius: 40px;
    color: #54545400;
    margin-top: 2vw;
    margin-left: 2vw;
    /* transform: translate(40px 40px); */
}
.day1{
    padding: 20px 60px;
    border: solid black 2px  ;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-color: transparent;
    border-radius: 40px;
}
.leftday{
    margin-left: 20px;
}
.rightday{
    margin-right: 20px;
}
@media screen and (max-width: 908px) {
    .days{
        height: 200px;
    }
}

/* date underline design starts here  */
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin-bottom: 10px;
    text-align:center;
}
.underline{
    translate: 0 -30px;
    display: flex;
    justify-content: center;
}
.curve1{
    border: solid 4px black;
    width: 5vw;
    height: 5vw;
    border-radius: 0 0 0 100%;
}
.line1{
    border: black;
    border-bottom:solid 4px;
    width: 40vw;
}
.curve2{
    border: solid 4px black;
    width: 5vw;
    height: 5vw;
    border-radius: 0 0 100% 0%;
}
@media screen and (max-width:900px) {

    .day-devider-line{
        display: none;
    }


}

/* the line which devides the evensts */

.day-devider-line{
    position: absolute;
    background-color: black;
    width: 4px;
    translate:  0 -30px;
    height: 150vh;
    margin: 0 calc(50vw - 4px);
}

/* the events section  */
.event-container{
display: grid;
margin-top: 100px;
grid-template-columns: 50.5% 50%;

}

.right-events{
    width: 50%;
}




.left-events{
    translate: 0 20vh;
    width: 50%;
}
.line-and-box-right{
    display: flex;
    justify-content: right;
    width:calc(50vw - 2px);
    align-items: center;
}
.line-and-box-left{
    display: flex;
    justify-content: left;
    width:calc(50vw);
    align-items: center;
}
.Schedule-container{
    margin-bottom: 100px;

}
.schedule-page{
    width: 25vw;
    padding:10px 20px;
    height: 12vw;
    display: flex;
    color: white;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    background: #545454;
}
.schedule-page-stroke-right{
    position: absolute;
    width: 25vw;
    translate:  -115px -15px;
    padding:10px 20px;
    height: 12vw;
    border: 4px solid black;
}
.schedule-page-stroke-left{
    position: absolute;
    width: 25vw;
    translate:  115px -15px;
    padding:10px 20px;
    height: 12vw;
    border: 4px solid black;
}
.venue{
    font-size: 1.5em;
}
.time{
    font-size: 2em;
}
.eventname{
    font-size: 2em;
}

.line{
    /* width: calc(100% - 25vw); */
    width: 100px ;
    height: 4px;
    background: black;
}
