/* the robotics font nasalization-rg */
@font-face {
    font-family: robotics-original;
    src: url(../../fonts/nasalization-rg.otf);
}

/* applying margin and padding 0 and font family to whole website */
* {
    font-family: robotics-original;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* applying wartech background image to the whole website  */
header {
    width: 100vw;
    height: 100vh;
    background-image: url(../static/landing-page-background.png);
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

/* creating a radial gradient on the header  */
.radial-gradient {
    background: radial-gradient(rgba(64, 75, 82, 0), rgba(100, 106, 109, 100%));
    width: 100%;
    height: 100%;


}

/* navbar starts here  */
nav {
    width: 100%;
    z-index: 3;
    display: grid;
    position: fixed;
    place-items: center;
}

.container {
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.logo img {
    width: 60px;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

/* navbar ends here */



/* wartech title for landing page  */
.wartech {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    padding-top: 80px;
}

.wartech div {

    font-size: 8vw;
    color: white;
    letter-spacing: 20px;
    -webkit-text-fill-color:
        transparent;
    line-height: .9em;
    -webkit-text-stroke-width: 1px;
    transition: .5s;
}

.wartech div:hover {
    text-shadow: 10px -4px;
}

/* blending the text and translate */
.title-2 {
    translate: 3vw;
    mix-blend-mode: soft-light;
}

.title-1 {
    color: #d9d9d9;
    mix-blend-mode: difference;
}

.title-center {
    translate: 6vw;
    font-weight: 500;
}

@media screen and (max-width:500px) {
    .title-center {

        translate: 0;
    }

    .wartech {
        height: 80vh;
    }
}

/* ----making movile view for the landing page  */
@media screen and (max-width:800px) {
    .links {
        display: none;
    }

    .wartech {
        translate: -20;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .wartech div {
        word-wrap: break-word;
        width: 0;
        font-size: 4.5em;
        line-height: 10vh;

    }

    .left1 {
        translate: -20px 30px;
    }

    .left2 {
        translate: -20px -30px;
        mix-blend-mode: soft-light;
    }

    .right1 {
        translate: -20px 30px;
    }

    .right2 {
        translate: -20px -30px;
        mix-blend-mode: soft-light;
    }

    .title-center {
        text-shadow: 2px -2px;
        translate: -20px 10px;

        font-weight: 500;
    }

}

/* -------------------------------------main section starts  here ------------------------------ */
main {
    background-image: url(../static/background-image-for-whole-website.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* -----------about section starts here ----------- */
/* .about {
    text-align: center;
} */

.about-heading {
    text-align: center;
    font-size: 8vw;
    margin: 10vw 0 20px 0;
}

.about-para {
    text-align: left;
    margin: auto;
    width: 90%;
    font-size: 2.5vw;
    margin-bottom: 8vw;
    /* text-align: center; */
}

.goal {
    display: flex;
    text-align: center;
    width: 90%;
    padding: 20px 0;
    border-radius: 15px;
    margin: auto;
    background: linear-gradient(rgb(116, 116, 116), rgb(0, 0, 0, 0));
}

.goal h1 {
    font-size: 4vw;
}

.goal p {
    font-size: 1.5vw
}

.mission,
.vision {
    margin: 0 20px;
}

.about-line {
    width: 13px;
    /* height: 80%; */
    background-color: black;
}

/* -----------------about section ends here---------------- */
.event_container {
    margin-top: 50px;
}

.event_heading {
    font-size: 10vw;
    margin-left: 10vw;
    transform: rotate(-9deg);
}



/* evnet slider starts here  */
.EventSlider {
    display: flex;
    align-items: center;
    /* margin-top: 10vw; */
    width: 90%;
    margin: 10vw auto;
    justify-content: center;
    overflow-y: scroll;
    rotate: -9deg;
}

.EventSlider::-webkit-scrollbar {
    display: none;
}

.eventSlider-img {
    width: 30vw;
    border-radius: 10px;
    -webkit-user-drag: none;
    margin: 0px 2vw;
    transition: 0.2s;
}

.eventSlider-img:hover {
    scale: 1.2;
}

.events_card_container {
    margin-top: 10vw;
    width: 100%;
    padding-bottom: 10vw;
}

.evnet_card {
    width: 60vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30vh; */
    /* min-height: 30vw;     */

    margin: 15vw 10vw 10px auto;
}

@media screen and (max-width:1000px) {
    .evnet_card {
        margin: 5vw 10vw 10px auto;
    }

}

.EventCardBorder {
    position: absolute;
    width: 60vw;
    scale: 1.2;

}

.event_content {
    margin: 0 2vw 0 1vw;
}

.event_name {
    font-size: 1.5vw;

}

/* .event_right_content{
    margin-right: 5vw;
}
.event_discriptoin{

} */
.event_image_right{
    margin-right: 5vw;
}
.discription p {
    font-size: 1.5vw;
}

.event_image img {
    width: 30vw;
}
