@font-face {
  font-family: robotics-original;
  src: url(nasalization-rg.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: robotics-original;
}

body {
  background-image: url(background-image-for-whole-website.png);
  font-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
}

/* navbar starts here  */
nav {
  width: 100%;
  z-index: 3;
  display: grid;
  position: fixed;
  place-items: center;
}

.container {
  width: 90%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

}

.logo img {
  width: 60px;
}

.links a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

/* navbar ends here */
/* ----------------description starts here ------------------- */

.discription {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-top: 15vw;

}

.discription_left {
  /* background: black; */
  /* height: 100vh; */
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.price ,.how-to-pay, .text_price , .prize_currency , .ammount{
  width:100%;
  margin: auto  ;
  text-align: center;
  font-size: 2vw;
} 
.how-to-pay{
  margin-top: 2vw;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 300px;
  z-index: 2;

}

.img_stroke {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1;
  border-radius: 10px;
  translate: -20px 30px;
  border: solid black;

}

.discription_right {
  width: 55vw;


}

.heading {
  font-size: 5.5vw;
  width: 80%;
}

.problem_statement {
  width: 80%;
  font-size: 2vw;
}

.information {
  width: 80%;
  /* height: 30vh; */
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 5vw;
  background: radial-gradient(rgb(0, 0, 0, 0), #68676770, #686767b0);
}

.info_navigation {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5vh auto;
}

.details1 {
  width: 100%;

}

.date ,.last_date , .venue {
  margin: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:840px) {
  nav {
    display: none;
  }

  .discription {
    flex-wrap: wrap;
  }
  .discription_right,
  .description_left {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .img_stroke{
    translate: -10px 5px;

  }
  .image img , .img_stroke{
    width: 100px;
    height: 100px;
  }
  .discription_left{
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 3vw;
  }

}
.image_register_stroke{
  width: 25vw;
  margin-top: 5vw;
  display: flex;
  justify-content:left;
  padding-left: 10px;
  align-items: center;
}
.image_register_stroke img{
  width: 20vw;
  scale: 1.1;
  position: absolute;
}
.register_text{
  margin-left: 2%;
  font-size: 2vw;
}